# Compiled Classes
target/
bin/

# Eclipse Files
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA Files
.idea/
*.iml
*.ipr
*.iws

# Netbeans Files
nbproject/

# VS Code Files
.vscode/

# Operating System Files
.DS_Store
Thumbs.db
ehthumbs.db

# Log Files
*.log

# TestNG Output
test-output/

# Maven build
mvnw
mvnw.cmd

#Temporary files
*.swp
*.swo